@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap');
$cormorant-infant: 'Cormorant Infant', serif;

$nunito-sans: 'Nunito Sans', sans-serif;

$barlow: 'Barlow Condensed', sans-serif;