.login-page {
    .form-right i {
        font-size: 100px;
    }

    .form-logo {
        background: url("../images/marque/squared-logo.png") center center no-repeat;
        background-size: cover;
    }
}