// Colors
$primary-red: #d92332 !default;
$secondary-red: #d94350 !default;
$soft-red: #d9777f !default;
$font-color: #262526 !default;
$soft-white: #f2f2f2 !default;
$pure-white: #fff !default;

// Breakpoints
$sm: 560px !default;
$md: 768px !default;
$lg: 1280px !default;
$xl: 1440px !default;

$midle-media: 860px !default;