{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.fullname }}{% endblock %}

{% block body %}
    <section class="user-profile py-5 my-5">
        <div class="container pb-5">
            <div class="d-flex justify-content-center align-items-center">
                <div id="cc-card" class="cc-card">
                    <div class="cc-avatar position-relative ">
                    </div>
                    <div class="cc-title text-center">
                        <h2 class="cc-profile-name position-relative my-4 fw-900">
                            {{ app.user.fullname }}
                        </h2>
{#                        <p class="fw-medium mb-0">#}
{#                            <span>Enseignant</span>#}
{#                        </p>#}
                        <h4 class="text-center mb-3 fw-800">
                            {{ app.user.roles[0] is same as("ROLE_ADMIN") ? "Administrateur" : 'Employé' }}
                        </h4>
                        <h5 class="location fw-700">
                            <i class="fa-solid fa-location-dot"></i>
                            Suisse
                        </h5>
                    </div>
                </div>
            </div>
        </div>
{#        {% for message in app.flashes('profile_update') %}#}
{#            <div class="alert alert-success" role="alert" style="z-index: 10;">{{ message }}</div>#}
{#        {% endfor %}#}
    </section>
{% endblock %}
